.link {
    display: inline-block;
}

ul {
text-align: center;
display: flex;
padding: 32px 0px;
justify-content: center;
align-items: center;
gap: 72px;
}

a {
    text-decoration: none;
    color: black;
}

.banner {
display: flex;
width: auto;
height: 552px;
justify-content: center;
align-items: center;
background: #00BDC9;
}

img {
    margin: 0px;
    padding: 92px 400px 92px 401px;
}

h2 {
color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%;
}

.container {
margin-left: 15%;
margin-right: 15%;
display: flex;
padding: 88px 0px;
flex-direction: column;
align-items: center;
}

p {
    color: #161616;
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.highlighted_text {
color: #04959E;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

ol {
color: #161616;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}

.content {
display: flex;
padding: 40px 0px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

  .button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    border: none;
    background: #04959E;
    color: #fff;
}


#footer {
padding: 16px;
color: #161616;
text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
padding: 16px 0px;
border-top: #000 2px;
line-height: 150%; /* 27px */
}
